.navbar {
  align-items: center;
  padding: 0.7rem 0;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px var(--primary-color--dark);
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
}

.navbar-right {
  display: flex;
  align-items: center;
}